<div class="row justify-content-center">
  <div class="col-md-7 col-lg-6">
    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title fs-4 fw-bold mb-4">Log in</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="col-12 mb-2">
            <%= f.label :email, class: "form-label mb-0" %>
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="col-12 mb-2">
            <%= f.label :password, class: "form-label mb-0" %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="col-12">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>

          <div class="my-3">
            <%= f.submit "Log in", class: "btn btn-primary px-5" %>
          </div>
        <% end %>

        <p class="fw-light"><%= render "devise/shared/links" %></p>

      </div>
    </div>
  </div>
</div>
