<div class="media mb-2">
  <div class="media-body d-flex">
    <%= gravatar(comment.member, 'av-32 mr-2 mt-3') %>
    <div class="border-top pt-3">
      <p class="mb-1 fs-14 lh-1">
        <span class="fw-bold"><%= comment.member.name %></span> | @<%= comment.member.username %>
        <br>
        <span class="text-primary"><%= comment.created_at %></span>
      </p>
      <p class="card-text mb-0 mt-2 lh-small"><%= comment.text %></p>
    </div>
  </div>
</div>
