<div class="media mb-3">
  <div class="media-body d-flex">
    <div class="d-flex flex-column align-items-center mr-2">
      <%= gravatar(comment.member, 'av-32 mt-3') %>

      <% if current_member == comment.member %>
        <%= link_to [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "link-danger" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
        </svg>
        <% end %>
      <% end %>
    </div>
    <div class="border-top w-100 pt-3">
      <p class="mb-1 fs-14 lh-1">
        <span class="fw-bold"><%= comment.member.name %></span>
        <span class="text-muted fw-light">|</span>
        <b class="text-primary">@<%= comment.member.username %></b>
        <br>
        <span class="text-muted fs-13"><%= comment.created_at %></span>
      </p>
      <p class="card-text mb-0 mt-2 lh-small"><%= comment.text %></p>
    </div>
  </div>
</div>
