<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <small class="text-danger">
        <i><b><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</b></i>
      </small>

      <ul class="list-group list-group-flush">
        <% post.errors.full_messages.each do |message| %>
          <li class="list-group-item text-danger lh-1"><small><i><%= message %></i></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12 mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="col-12 mb-3">
    <%= form.text_area :body, class: "form-control", rows: 5 %>
  </div>

  <div class="col-12">
    <%= form.submit class: "btn btn-primary shadow-sm rounded-1" %>
  </div>
<% end %>
