<% if member_signed_in? %>
  <div class="d-flex">
    <%= gravatar_image_tag(@post.member.email, size: 32, alt: @post.member.name, class: "rounded-circle av-48") %>
    <div class="ml-3">
      <p class="mb-0 lh-1">
        by: <b><%= @post.member.name %></b> | <span class="text-muted fw-light">@<%= @post.member.username %></span>
      </p>
      <p class="fw-light fst-italic">Posted at: <%= @post.created_at %></p>
    </div>
  </div>
<% end %>
<p>
  <%= @post.body %>
</p>

<%= link_to 'Back', posts_path %> |
<% if member_signed_in? and current_member == @post.member %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
