<ul class="navbar-nav ml-auto fw-bold">
  <% unless user_signed_in? %>
  <li class="nav-item">
    <%= link_to "Sign in", new_user_session_path, class: "nav-link btn-primary text-white rounded w-100 px-md-5" %>
  </li>
  <li class="nav-item">
    <%= link_to "Join Now", new_user_registration_path, class: "nav-link" %>
  </li>
  <% else %>
  <li class="nav-item position-relative">
    <a class="nav-link d-flex align-items-center fw-bold dropdown-toggle" href="#" id="currentUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= gravatar(current_user, "av-24 rounded-circle mr-1") %>
      <%= current_user.name %>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="currentUser">
      <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %></li>
      <li><hr class="dropdown-divider"></li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item text-danger' %>
    </ul>
  </li>
  <% end %>
</ul>
